body {
    background-color: #e0e4e5;
}

.container {
    margin-top: 1%;
    background-color: white;
}

.form-header {
    background-color: #cdd4d6;
    border: 1px rgb(160, 154, 154) solid;
    border-radius: 5px;
}

#profile-image {
    border-radius: 50%;
}

.category-subtopic-link:hover {
    color: #c65f63 !important;
}

.widget-header {
    background-color: #84577c;
    color: white;
}

.widget-body {
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0px 0 3px 3px !important;
    box-shadow: 0px 2px 1.5px #ececec;
}

.modal-header-test {
    color: #fff;
    background-color: #84577c;
    border-radius: 0px;
}

.modal-content {
    border-radius: 0px 0px 0px 0px;
}

.message-cell-user {
    background: #b7b7b8;
    color: white;
    font-weight: 400;
    border-radius: 5px 0px 0px 5px;
}

.message-cell {
    background: #d1d1d1;
    color: #212529;
    font-weight: 400;
    border-radius: 0px 5px 5px 0px;
}

span {
    display: inline-block;
}